.container
{
    justify-content: center;
    padding: 40px;
}

.content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.buttons
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.project_overview
{
    width: 50%;
    text-align: center;

}

.card
{
    background-color: #d9d9d9;
    -webkit-border-radius: 80px;
}