.container
{
    justify-content: center;
}

.content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.buttons
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.project_overview
{
    width: 50%;
    text-align: center;

}

.card
{
    margin: 0 auto;
    width: 50%;
    background-color: #d9d9d9;
    -webkit-border-radius: 50px;
}

.teacher_side_container
{
    position: relative;
}

.qr-edit
{
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
}

.teacher_img_background
{
    width: 2029px;
    height: 1327px;
    border: 0px;
    margin: 0 auto;
}