<div style="text-align: center;">
<!--    <div ng-if="!$ctrl.isLoggingIn" style="display: flex;-->
<!--                flex-direction: row;-->
<!--                align-items: baseline;-->
<!--                width: 300px">-->
<!--        <h2 class="marginB0">QR Scanner</h2>-->
<!--        <button class="btn" ng-click="$ctrl.redirectToTeacherUsernameForm()" style="height: 50%;-->
<!--                                                                                    margin-left: 40px;">-->
<!--            Go back-->
<!--        </button>-->
<!--    </div>-->
    <qr-scanner ng-if="!$ctrl.isLoggingIn"></qr-scanner>
    <div ng-if="$ctrl.isLoggingIn" class="loading_spinner" style="top: 51%;"></div>
    <p> Place QR Code within frame to scan. </p>
    <img ng-if="$ctrl.isSuccessfulLogin" alt="studentPortal" src="/../studentPortal.jpg">
</div>

<div ng-if="$ctrl.isInvalidQrPassword" class="alert alert-fail" >
    <span class="icon icon-alert2 icon-login"></span>
    {{$ctrl.errorMessage}}
</div>
<button class="btn" ng-if="$ctrl.isInvalidQrPassword" ng-click="$ctrl.redirectToTeacherUsernameForm()">Go back</button>
<button class="btn" ng-if="$ctrl.isInvalidQrPassword" ng-click="$ctrl.redirectToLoginWebcam()">Try again</button>