<div style="text-align: center;">
    <h2 ng-if="!$ctrl.isLoggingIn"> Scan the QR code from the <a href="/teacher">teacher side</a>!</h2>
    <p> (Tip: take a picture of the QR code on your phone and scan) </p>
    <h2 ng-if="$ctrl.isLoggingIn && $ctrl.isSuccessfulLogin"> Success! You've logged in :D </h2>
    <qr-scanner ng-if="!$ctrl.isLoggingIn"></qr-scanner>
    <p ng-if="!$ctrl.isLoggingIn"> Place QR Code within frame to scan. </p>
    <img ng-if="$ctrl.isSuccessfulLogin" alt="studentPortal" src="/../images/laser.jpg">
</div>
<div ng-if="$ctrl.isInvalidQrPassword" class="alert alert-fail error">
    {{$ctrl.errorMessage}}
</div>
<!--<button class="btn" ng-if="$ctrl.isInvalidQrPassword" ng-click="$ctrl.redirectToTeacherUsernameForm()">Go back</button>-->
<!--<button class="btn" ng-if="$ctrl.isInvalidQrPassword" ng-click="$ctrl.redirectToLoginWebcam()">Try again</button>-->